/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 0; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.media-body img{
    margin-right: 8px;
}

footer {
    margin: 40px 0;
}