body {
	font-size:16px;
	padding-top: 0;
}
section{
	margin: 20px 0 30px 0;
}

.navbar-nav a{
    font-size: 20px;
}
.feature-list{
	list-style:none;
}
.well{
	overflow:auto;
}
.container-fluid {
	padding-top: 40px;
}
.page-header {
	color: #1e1e1e;
}
h1 {
	font-family: 'Raleway', sans-serif;
}

footer{
    font-size: 16px;
    margin-bottom: 10px;
}